<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942554870984-aeb9q19mmpckr7sv1nhue2emfep35f1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942554870984-aeb9q19mmpckr7sv1nhue2emfep35f1i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942554870984-8g7f9r60prk8onc8rsgtp29680mo0gm8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD35LGMaJQWdUTLlyAXoozsvIA6yv5Oz1c</string>
	<key>GCM_SENDER_ID</key>
	<string>942554870984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingwitht.ecommerce.tstoreEcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-12c8c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-12c8c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942554870984:ios:2a183ffe2547c0c332a1fd</string>
</dict>
</plist>